.wizard-container {
    display: flex;
    height: calc(100vh - 82px);
    align-items: center;
}

.nft-list {
    height: 400px;
    overflow-y: auto;

    .col-xs-3 {
        padding: 0px;
    }
}

.nft-item {
    margin: 5px;
    cursor: pointer;

    &.selected {
        border: 2px solid #608744;
    }
}

.mat-horizontal-content-container {
    margin-top: 30px;
}

h2 {
    color: #379ce8;
    font-family: monospace;
}

.cursor-pointer {
    cursor: pointer;
}

.header {   
    color: white;
    font-weight: 500;
    font-family: monospace;
    padding: 15px;
    display: block;
    position: absolute;
    width: 100%;
    font-size: 18px;

    .logo {
        font-size: 30px;
        span {
            font-size: 30px;
            letter-spacing: 6px;
        }
        small {
            font-size: 65%;
            font-style: italic;
            text-decoration: underline;
        }
    }
    
    .address {
        background: white;
        padding: 10px;
        color: black;
        border-radius: 7px;
    }
}

.parrot {
    width: 46px;
    position: absolute;
    top: -82px;
    right: 100px;
}

.audioCtrl {
    padding: 3px;
    margin-right: 9px;
    background-color: white;
    border-radius: 7px;
    img {
        height: 34px;
    }
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: white;

    img {
        width: 150px;
        display: block;
        height: auto;
    }
}


form {
    padding-bottom: 60px;
    .form-actions {
        position: absolute;
        width: 100%;
        padding: 10px;
        bottom: 0px;
        text-align: right;
        right: 0;
    }
}