<div class="header">
  <div class="logo pull-left">🅝🅕🅣 🅔🅧🅟🅐🅣<br><small>...since 1961</small></div>
  <span class="pull-right address" *ngIf="selectedAddress">{{selectedAddress}}</span>
  <span class="pull-right audioCtrl cursor-pointer" (click)="audioCtrlClick()" id="audioCtrl"
    title="Salome De Bahia - Festa Para Um Rei Negro">
    <img src="assets/images/audio.gif">
  </span>
</div>

<div class="overlay" *ngIf="showOverlay" @fadeOut (keydown)="start()" tabindex="0">
  <img (click)="start()" class="cursor-pointer"
    src="http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/97152d7a3bad9b7.png">
</div>

<div class="container-fluid">
  <div class="row wizard-container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0"
      style="min-height: 400px;">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <b style="color: #608744;">Welcome!</b>
          </mat-expansion-panel-header>
          Here you can mass-transfer NFTs one wallet to another. <br> I created this website because I needed it myself, but feel free to use it yourself and to share it to whomever you prefer, if you enjoy it as much as I do.<br>Since I needed some creative stimulation in this period, the UI came out <b>a bit</b> too funky. <br>Sorry about that. 
          <br>
          <br>
          <b>Donations:</b><br>
          ETH: 0x0Db57FC03ac99A4dbe127F1e4cCC95c2C0bF3068
          <br><br>
          <b>Useful links:</b><br>
          <a href="https://github.com/20cello/nft-migrator" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/felcher/" target="_blank">Linkedin</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <b style="color: #608744;">Disclaimer</b>
          </mat-expansion-panel-header>
          <p>
            This is my first Web3-related project. As simple as the implementation of this use-case is, I'm by no means an expert of this field - yet. The thing is open-source, so <b>read the code</b> and <b>use at your own risk</b>. <br> I will not be accountable for losses of any asset coming from a person using this platform that is not myself.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
        <br><br>
      <mat-card>
        <img class="parrot" src="assets/images/parrot.png">

        <div *ngIf="metamaskError">
          <p class="text-center"><br><br><br>
            <b>This page requires Metamask to be installed.</b>
          </p>
        </div>
        <div *ngIf="!metamaskError">
          <mat-stepper linear #stepper>
            <mat-step [editable]="false">
              <form>
                <ng-template matStepLabel>Network</ng-template>
                <p>Below you find the supported chains. I'll look into adding more and make this tool as useful as I can. Until I get bored.</p>
                <mat-selection-list [multiple]="false">
                  <mat-list-option *ngFor="let net of networkList()" (click)="switchNetwork(net.chainId)">
                    {{net.chainName}}
                  </mat-list-option>
                </mat-selection-list>
                <div class="form-actions text-right">
                  <button mat-button matStepperNext *ngIf="net" (click)="checkWalletConnection()">Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [editable]="false">
              <form>
                <ng-template matStepLabel>Source wallet</ng-template>
                <div class="text-center" *ngIf="selectedAddress; else connectSourceButtons">
                  <p>
                    You are now connected as: <br>
                  </p>
                  <h2>{{selectedAddress}}</h2>
                  <div *ngIf="nftList && nftList.result && nftList.result.length > 0; else noNft">
                    <p>
                      We have detected <span><b>{{nftList.result.length}}</b></span> NFTs in your wallet.
                    </p>
                  </div>
                  <ng-template #noNft>
                    You still don't have any NFTs in your wallet. <br>You can keep hanging out here as much as you want,
                    don't worry.<br><br><br><br>
                    <small>You should really consider getting some though, they are quite the hype right now.</small>
                  </ng-template>
                </div>
                <ng-template #connectSourceButtons>
                  <div class="row">
                    <div class="col-xs-4">
                      <mat-card class="cursor-pointer">
                        <img style="max-width: 100%;" (click)="connectMetamask()"
                          src="https://cdn.techozu.com/wp/2021/08/How-to-Install-and-Set-Up-MetaMask-on-PC-and-Mobile.jpg">
                      </mat-card>
                    </div>
                    <div class="col-xs-4">
                      <mat-card>
                        <img style="max-width: 100%;" (click)="walletConnect()"
                          src="https://bsctimes.com/wp-content/uploads/2021/07/photo_2021-07-13-16.27.25.jpeg">
                      </mat-card>
                    </div>
                  </div>
                </ng-template>
                <div class="form-actions text-right">
                  <button *ngIf="selectedAddress && nftList && nftList.result && nftList.result.length > 0" mat-button
                    matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [editable]="false">
              <ng-template matStepLabel>Select your NFTs</ng-template>
              <form *ngIf="nftList && nftList.result && nftList.result.length > 0; else noNft">
                <div class="row">
                  <div class="col-xs-9">
                    <div class="row nft-list">
                      <div class="col-md-4" *ngFor="let nft of nftList.result">
                        <mat-card class="nft-item">
                          <mat-card-header>
                            <mat-card-title>{{nft.name}}</mat-card-title>
                            <mat-card-subtitle>#{{nft.token_id}}</mat-card-subtitle>
                          </mat-card-header>
                          <img mat-card-image src="assets/images/placeholder.png">
                          <mat-card-content>
                            <mat-chip-list>
                              <mat-chip color="primary" selected>{{nft.contract_type}}</mat-chip>
                              <mat-chip>Amount: {{nft.amount}}/{{nft.amount}}</mat-chip>
                            </mat-chip-list>
                          </mat-card-content>
                        </mat-card>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3">
                  </div>
                </div>
                <div class="form-actions text-right">
                  <button mat-button matStepperNext class="pull-right">Next</button>
                </div>
              </form>
              <ng-template #noNft>
                The connected wallet has no NFTs available.
              </ng-template>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Migrate</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-stepper>
        </div>
      </mat-card>
    </div>
  </div>
</div>
